<!DOCTYPE html>
<html>
<head>
  <title>My CV</title>
  <style>
    .title {
      text-align: center;
      color: darkgreen;
      font-size: 36px;
      font-family: Verdana, sans-serif;
      margin-top: 40px;
    }
  </style>
</head>
<body>

  <h1 class="title">My CV</h1>

